* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: italic;
}
 /* cabecalho */

 .cabecalho {
    display: flex;
    background-color: black;
    width: 100%;
    height: 59%;
 }

 .logo{
    width: 110px;
    height: 110px;
    margin-top: -10px;
 }

 .menu {
    list-style: none;
    display: flex;
    gap: 22px;
 }

 a {
    text-decoration: none;
    color: white;
    margin-left: 18px;
    margin-top: 50px;
    display: flex;
    font-size: 1.063rem;
    width: 55px;
 }

 /* conteudo */

.conteudo {
   display: flex;
}

.história {
   flex-direction: row;
}

.titulo {
   text-align: center;
   margin-top: 10px;
   font-size: 1.875rem;
}

hr {
   width: 240px;
   margin-left: 510px;
}

.cont-historia { 
   margin: 20px;
   margin-bottom: 30px;
   width: 720px;
   font-size: 1.25rem;
   align-items: center;
   justify-content: space-between;
   text-align: justify;
}

strong {
   font-size: 1.25rem;
   color: #5e5c5cc5;
}

#img1 {
   display: flex;
   justify-content: flex-end;
   margin-top: -90px;
}

.hr-pequeno {
   width: 170px;
   margin-left: 540px;
}



.titulo-rotapé {
   text-align: center;
   margin-top: 10px;
   font-size: 1.875rem;
}